body, html{
    height:100%;
    margin:0;
    font-size:100%;
    font-family:"Segoe U", Lato, sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#667;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    text-align:center;
    position: relative;
    opacity:0.95;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.pimg1{
    background-image:url('../img/image2.jpg');
    height: 100%;
}
.pimg2{
    background-image:url('../img/image1.jpg');
    height: 50%
}
.pimg3 {
    background-image: url('../img/image3.jpg');
    height: 50%;
}
.pimg4 {
    background-image: url('../img/image2.jpg');
    height: 50%;
}
.pimg5 {
    background-image: url('../img/image1.jpg');
    height: 50%;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: page;
    top: 90%;
    /*transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);*/
    color: #ddd;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 4px 2px;
    opacity: 1;
}
    .btn:hover {
        background-color: #ffb10f;
        color: white;
    }
.btn2 {
    display: none;
    background-color: #667;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

    .btn2:hover {
        background-color: #ffb10f;
    }

.section {
    text-align: center;
    padding: 4% 5%;
}

.section-light{
    background-color: #f4f4f4;
    color: #667;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.section-members {
    text-align: center;
    padding: 4% 5%;
    top: 50%;
    width: 100%;
    letter-spacing: 8px;
    font-size: 175%;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 175%;
    letter-spacing: 8px ; 
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 3%;
}

.ptext .border.trans{
    background-color: transparent;
}

@media screen and (orientation:portrait) {
    /* PHONE SETTINGS */
    .top-bottom {
        text-align: center;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
    }

    .img {
        max-width: 60%;
        height: auto;
    }

    .img2 {
        max-width: 70%;
        height: auto;
    }

    .img3 {
        max-width: 30%;
        height: auto;
    }
}

@media screen and (orientation: landscape) {
    /* DESKTOP SETTINGS */
    .top-bottom {
        text-align: center;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
    }

    .img {
    max-width: 30%;
    height: auto;
    }

    .img2 {
    max-width: 25%;
    height: auto;
    }

    .img3 {
    max-width: 15%;
    height: auto;
    }
}


.links {
    text-decoration: none;
    color: #ffb10f;
}